/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  background-color: antiquewhite;
}

/* .header-navigate {} */

.menu-header {
  display: inline-flex;
  box-sizing: border-box;
  margin-left: 50px;
  list-style-type: circle;
}

.menu-header-list {
  margin-right: 31.48px;
}

.active-list {
  list-style-type: none;
}

.underline-mod {
  text-decoration: none;
  border-bottom: 1px black solid;
}

.header__logo {
  justify-items: start;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  width: 236px;
  margin-left: 185px;
}

/*.main{
  background: gray;
  height: 757px;
}*/
.cover-title {
  height: 757px;
  background-image: url(../images/cover.jpg);
}

.menu-footer {
  font-size: 18px;
}
