/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  background-color: #fff;
}

/* .header-navigate {} */

.header__links-list {
  display: flex;
  gap: 33px;
  box-sizing: border-box;
  width: 391.48px;
  margin-left: 50px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

/* .header__links-list-item {} */

/* .underline-mod {
  border-bottom: 1px black solid;
  text-decoration: none;
} */

.header__logo {
  display: block;
  width: 136px;
  margin-top: 10px;
}

/*.header__logo-image {}*/

.header-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: 98px;
  margin-left: 193px;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  font-style: normal;
  text-align: left;
}

/*.main{
  background: gray;
  height: 757px;
}*/
.cover {
  position: relative;
  z-index: -2;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 125% auto;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-title {
  color: #fff;
  font-family: "Raleway";
  font-size: 100px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  padding-top: 166px;
  padding-left: 50px;
  text-align: left;
}

.aligned-text_center {
  padding-top: 18px;
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 17px;
  padding-right: 20px;
  text-align: right;
}
.cover__description {
  display: flex;
  align-items: center;
  margin-top: 105px;
  padding-left: 50px;
}

.cover__description-text {
  color: #fff;
  font-family: "Raleway";
  font-size: 22px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  margin-left: 108px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Raleway";
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
}

/*вся секция*/
.lots {
}
/*заголовок секции*/
.lots__heading {
  margin-top: 183px;
  margin-bottom: 27px;
  margin-left: 64px;
  font-weight: bold;
  font-size: 40px;
}

/*список карточек*/
.lots__card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

/*пункт списка карточек*/
.lots__card-list-item {

  width: 334px;
  min-height: 596px;
  list-style-type: none;
}

/*ссылка, обрамляющая карточку*/
.card-link {
  height: 100%;
  color: #fff;
  text-decoration: none;
}

/*карточка*/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-wrap: nowrap; */
  align-items: center;
  height: 100%;
  padding: 48px;
  background-position: center center;
  background-size: cover;
}

/*заголовок карточки*/
.card__title {
  width: 254px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  text-transform: uppercase;
}

/*текст карточки*/
.card__text {
  width: 254px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

/**/
.card_type_film {
  z-index: -2;
  background-image: url(../images/card-lot-01.jpg);
}

/**/
.card_type_book {
  z-index: -2;
  background-image: url(../images/card-lot-02.jpg);
}

/**/
.card_type_picture {
  z-index: -2;
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  margin-top: 31px;
  margin-left: 64px;
  font-family: "Raleway";
  font-size: 20px;
}
.about{
    display: grid;
      grid-template-columns: 334px 1fr;
      gap: 72px;
}

.about__column{


  margin-top: 155px;

}

.about__logo{
  display: grid;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-content: center;
  margin-left: 70px;
  margin-right: 72px;
}

.about__logo-image{
width: 141.54px;
height: 112.55px;





.about__text{
  color: rgba(0, 0, 0, 1);

font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
/* text-align: left; */
margin-bottom: 24px;

}


.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  background-color: antiquewhite;
}
