/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  background-color: antiquewhite;
}

/* .header-navigate {} */

.menu-header {
  display: flex;
  box-sizing: border-box;
  width: 391.48px;
  gap: 33px;
  margin-left: 50px;
  list-style-type: circle;
}

/* .menu-header-list {} */

.active-list {
  list-style-type: none;
}

.underline-mod {
  text-decoration: none;
  border-bottom: 1px black solid;
}

.header__logo {
  display: block;
  margin-top: 7px;
  width: 134px;
}

/*.header__logo-image {}*/

.address {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  width: 236px;
  margin-left: 193px;
}

/*.main{
  background: gray;
  height: 757px;
}*/
.cover-title {
  height: 757px;
  background-image: url(../images/cover.jpg);
}

.footer {
    display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  background-color: antiquewhite;
}
